# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Builds
dist/
build/

# Env & secrets
.env
.env.*
!.env.example

# DB locales (si utilisé)
*.sqlite
*.db
*.db-shm
*.db-wal
# Local backups
*.backup.js
*.backup.html
